@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: #fac3a1;
  background-image: linear-gradient(to bottom right, #0d7477d3, #ae846dd3 ), url('../src/pages/Homepage/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

h1 {
  letter-spacing: 8px;
}
a {
  margin: 5px auto 5px;
  color: #ffa268;
  &:visited {
    color: #212121; 
  }
}

