.SearchWindow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  position: fixed;
  float: left;
  width:45%;
  div {
    text-align: center;
  }

  input[type="search"] {
    font-size: 1.3rem;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    width: 50%;
    transition: all 0.5s;
    

    &:hover {
      transform: scale(1.01);
      box-shadow: 2.5px 2.5px 5px grey;
    }
  }

  input[type="radio"] {
    transition: all 0.5s;
    &:hover {
      transform: scale(1.5);
    }
  }
  
  form {
    text-align: center;
    width: 100%;
  }

  button {
    font-size: 1.7rem;
    margin-top:20px;
    padding: 10px 30px;
    border-radius: 100px;
    outline: none;
    background-color: #5E8C87;
    color: #fac3a1;
    transition: all 0.2s;
    backface-visibility: hidden;


    &:hover {
      cursor: pointer;
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rbga(0, 0, 0, 1);
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rbga(0, 0, 0, 1);
    }
  }

  input {
    margin: 10px;
  }

  footer {
    text-align: center;
  }
}