.DisplayWindow {
  text-align: center;
  padding: 15px;

  .tech-header {
    display: flex;
    flex-direction: column;
    
    .icon {
      margin-top: 35px;
      // margin-bottom: 10px;
    }
  }

  
}

