.DisplayWindow {
  text-align: center;
  padding: 15px;
  position: absolute;
  float: right;
  right: 0;
  width: 45%;
  .tech-header {
    display: flex;
    flex-direction: column;
    
    .icon {
      margin-top: 35px;
      // margin-bottom: 10px;
    }
  }

  
}

